$color-primary: #7dcf2a;
$color-secondary: #f1692f;
$color-tertiary: #f5bb00;

$color-white: #fafafa;
$color-light-grey: #d4d4d4;
$color-black: #181818;
$color-grey: #707070;
$color-text: #0e0e0e;
$color-text-light: #7e7e7e;
