.cards {
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-start;
}

.card-menu {
	flex: 0 1 calc(100% - 1em);
	height: 15rem;
	margin: 0.5rem;
	display: flex;
	background-color: $color-white;
	padding: 0.5rem;
	border: 1px solid #dbdbdb;
	border-radius: 0.3rem;
	box-shadow: #0000003d 0px 3px 8px;
	transition: box-shadow 1s ease;

	@media screen and (min-width: $bp-m) {
		flex: 0 1 calc(50% - 1em);
	}
	@media screen and (min-width: $bp-l) {
		flex: 0 1 calc(33% - 1em);
	}

	&:hover {
		box-shadow: #0000003d 0px 6px 12px;
	}

	&__image {
		width: 30%;
		height: 100%;
		border-radius: 12px;
		object-fit: cover;
	}
	&__tag {
		display: inline-block;
		padding: 0.3rem 0.6rem;
		margin: 0.2rem;
		border-radius: 0.8rem;
		font-size: 0.7rem;
		background-color: $color-secondary;
		@include text-medium;
		color: $color-white;
	}
	&__title {
		font-size: 1rem;
		@include text-medium;
		// margin: 1rem 0 0.5rem;
		color: $color-text;
	}
	&__text {
		@include text-regular;
		font-size: 0.8rem;
		color: $color-text-light;
		line-height: 150%;
	}
	&__details {
		padding: 1rem 0.5rem 0.2rem 0.5rem;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
	}

	button {
		border: none;
		padding: 0.6rem 2rem;
		border-radius: 1.6rem;
		@include text-medium;
		font-size: 0.875rem;
		background-color: $color-primary;
		color: $color-white;
		margin: 0.5rem auto;
		display: block;
		cursor: pointer;
		transition: background-color 1s ease;
		&:hover,
		&:focus {
			background-color: darken($color-primary, 10);
			color: $color-white;
		}
	}
}
