.search {
	display: flex;
	flex-direction: row;
	&__input {
		height: 3rem;
		border: none;
		border-radius: 0.6rem 0 0 0.6rem;
		padding: 0 1rem;
		width: 40%;
		@media screen and (min-width: $bp-m) {
			width: 17rem;
		}
	}
	&__button {
		background-color: $color-tertiary;
		color: $color-white;
		height: 3rem;
		width: 6rem;
		border-radius: 0 0.6rem 0.6rem 0;
		&:hover,
		&:focus {
			background-color: green;
		}
		&:focus {
			outline: 1px solid #fff;
			outline-offset: -4px;
		}
		&:active {
			transform: scale(0.99);
		}
	}
}
