// Base styles

html {
	scroll-behavior: smooth;
	font-family: 'Rubik', sans-serif;
}
html,
body {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	scroll-padding-top: 70px; /* height of sticky header */
}
body {
	display: flex;
	flex-direction: column;
	background-color: $color-white;
	color: $color-text; /* IE 8 */
	transition: background-color 3s;
}

.wrapper {
	max-width: 1500px;
	margin: 0 auto;
}
.push {
	min-height: calc(100vh - 15rem);
}
.section {
	margin: 2rem auto;
	&__title {
		color: $color-text;
		font-size: 1.8rem;
		@include text-medium;
		margin-bottom: 0.5rem;
	}
}
