.hero-restaurant {
	background-image: url('../../assets/images/food1.jpg');
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: flex-end;
	min-height: 20vh;

	@media screen and (min-width: $bp-m) {
		min-height: 40vh;
	}
	&__text {
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		justify-content: flex-end;
		padding: 2rem 3rem;
		text-align: center;
		width: 100%;
		background: linear-gradient(360deg, rgba(0, 0, 0, 0.767) 0%, rgba(0, 0, 0, 0.63) 40%, rgba(0, 212, 255, 0) 100%);
	}
	&__title {
		max-width: 100%;
		@include text-medium;
		font-size: 1.5rem;
		color: $color-white;

		@media screen and (min-width: $bp-m) {
			font-size: 2rem;
			flex-direction: column;
		}
	}
	&__subtitle {
		@include text-regular;
		font-size: 1rem;
		color: $color-primary;
		text-align: center;
		max-width: 100%;

		@media screen and (min-width: $bp-m) {
			font-size: 0.9rem;
		}
	}
	&__rating {
		color: $color-secondary;
		font-size: 0.8rem;
		margin: 0.6rem 0;
		span {
			margin-right: 0.5rem;
		}
	}
}
.restaurant-info {
	padding: 1rem;

	text-align: left;
	border-bottom: 1px solid $color-light-grey;
	.fas {
		vertical-align: middle;
	}
	p {
		margin-bottom: 0.3rem;
		@include text-regular;

		color: $color-text-light;
		font-size: 0.75rem;
	}
	span {
		color: $color-primary;
		font-size: 1rem;
		margin-right: 0.5rem;
	}
}
